[run]
branch = True
source =
    contact
    config
omit =
    */migrations/*
    */tests/*
    */__init__.py
    config/settings.py
    config/settings/*
    */asgi.py
    */wsgi.py

[report]
show_missing = True
skip_covered = True
fail_under = 80
